{% extends 'base.html.twig' %}

{% block title %}Home | {{ parent() }}{% endblock %}

{% block body %}

    <div data-controller="hello"></div>
    <div data-controller="hello"></div>

    <h1>Home</h1>
    <h2>{{ title }}</h2>

{% endblock %}
