{% extends 'base.html.twig' %}

{% block title %}Create a new Record | {{ parent() }}{% endblock %}

{% block body %}
    <h1>All tracks:</h1>
    {{ dump() }}
    <ul>
        {% for track in tracks %}
            <li>{{ track.title }} - {{ track.singer|upper }}</li>
        {% endfor %}
    </ul>

{% endblock %}
